<!--


#removetext {
	text-align:left;
	position:relative;
	width: 450px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:60px;
	}
#remove_warn{
	font-style:bold;
	padding:40px;
}
#remove_wrapper{
	text-align:center;
}
	
-->

